extends base

block content
    section.padding-t.padding-b
        .container 
            p At Consult a Specialist, we provide clients a personalized experience with a professional business consultant. 
            p Our goal is to help you succeed in your goals. We believe the best way to do this is by having the best of the best personally teach you. You will be provided with the best selection of specialists in Canada who will be happy to teach you.