<html>
<head>
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="dashboard.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="search.html">Find</a>
        <a href="#about">How it Works</a>
      </div>
    </nav
  </header>

  <div class="calendar-section">
    <div class="date-picker">
        <p>
            <span class="date-label">Today's date: </span><span class="today-date"></span>
        </p>
        <div>
            <div id="date-picker"></div>
            </div>

        </div>
    </div>
    <div class="button-section">
      <div class="btn-group">
        <button>John           April 2, 2021</button>
        <button>John           April 2, 2021</button>
        <button>John           April 2, 2021</button>
      </div>
    </div>
  </div>



</body>
</html>
