<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page | CAS</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="topnav">
        <a href="#news">Home</a>
        <a href="#contact">Find</a>
        <a href="#about">How it Works</a>
      </div>
    </nav
  </header>

  <div class="profile-container">
  	<img src="avatar.jpg" alt="" class="profile__photo">
    <div class="profile__wrap">
  		<div class="profile__info">
        <h1>John Doe </h1>
        <h4>Surrey, BC </h4>
        <ul id="tags">
          <li>Ecommerce</li>
          <li>Food</li>
        </ul>
        <hr>

        <div class="profile__intro">
          <h3> Description </h3>
    			<p >
    				I'm John, a professional driver for Uber.
    			</p>
          <h4>From $250/Session </h1>
         </div>

  			<button> Book Session </button>
  		</div>
  	</div>

</body>

</html>
