<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page | CAS</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="search.html">Find</a>
        <a href="#about">How it Works</a>
      </div>
    </nav
  </header>

  <div class="profile-container">
  	<img src="avatar.jpg" alt="" class="profile__photo">
    <div class="profile__wrap">
  		<div class="profile__info">
        <h1 id="h1"> </h1>
        <h4>Surrey, BC </h4>
        <ul id="tags">
          <li id="u1"></li>
        </ul>
        <hr>

        <div class="profile__intro">
          <h3> Description </h3>
    			<p id="p1"></p>
          <h4>From $250/Session </h1>
         </div>

  			<button> Book Session </button>
  		</div>
  	</div>

</body>
</html>
<script>
var name=localStorage.getItem("name");
var tag=localStorage.getItem("tag");
var description=localStorage.getItem("description");
var price=localStorage.getItem("price");

document.getElementById("h1").innerHTML = name;
document.getElementById("u1").innerHTML = tag;
document.getElementById("p1").innerHTML = description;

</script>
