<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | CAS</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="topnav">
        <a href="#news">Home</a>
        <a href="#contact">Find</a>
        <a href="#about">How it Works</a>
      </div>
    </nav
  </header>
  <div class = "search-section">
    <<h1>Find your dream consultant</h1>
     <div class="search-container">
    	<input type="text"
      placeholder="Search consultant name, keyword">
    	<button>Search</button>
     </div>
  </div>

</body>

</html>
