extends base

block content
    section.padding-t.padding-b
        .container
            .search-section
                .search-container
                    h1 Find your dream consultant
                    form(action='#').form--search
                        input#search(type='text' name='search' placeholder='Search consultant name, keyword' required)
                        button Search
            .table-section
                if consultants.length !== 0
                    table.table
                        thead
                            tr
                                th(scope="col") #
                                th(scope="col") Consultant Name
                                th(scope="col") Category
                                th(scope="col") Experience
                                th(scope="col") 
                        each consultant in consultants
                            tbody
                                tr(height="65px")
                                    th(scope="row")
                                    td= consultant.name
                                    td= consultant.tag
                                    td= `${consultant.experience}+ years` 
                                    td
                                        a.cta-details(href=`/users/${consultant.slug}`) Details

