<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | CAS</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="search.html">Find</a>
        <a href="#about">How it Works</a>
      </div>
    </nav
  </header>
  <div>
    <div class = "search-section">
      <<h1>Find your dream consultant</h1>
       <div class="search-container">
      	<input type="text"
        placeholder="Search consultant name, keyword" onsubmit="userAction()" autocomplete="off" id="myInput">
      	<button onclick="userAction()">Search</button>
       </div>
    </div>

    <div style = "position:relative; top:300px;">
     <p id="results" onclick="openProfile()"></p>
   </div>
 </div>


</body>

</html>

<script src="search.js"></script>
