extends base

block content
    section.padding-t.padding-b
        .container 
            .works-section
                h3 How it works
                hr
                h6 Search a Consultant. 
                p Search your desire consultant using our search engine. You can search by name or by field of specialty. 
                h6 View Profile and Book Session 
                p View your consultant profile to see if they fill your need. Once you find one you like, you can book a session with the consultant with just a few clicks. 
                h6 Chatting 
                p Once everything has been setup, feel free to use the chat room to communicate with your consultant on the set date.